.intro-section {
    @extend %layout;
    height: 600px;

    .intro-button {
        background-color: $secondary-color;
        color: $color-main;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 30px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: inherit;
        &:hover {
            background-color: rgba(255, 0, 0, 0.725);
        }
        p {
            margin: 0;
            padding: 10px 10px;
        }
    }

    .slide-content {
        height: 100%;
        border-radius: 10px;
    }
    .content-container {
        border-radius: 10px 0px 0px 10px;
        display: flex;
        align-items: center;
        width: 500px;
        flex-direction: column;
        // flex-direction: column;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        
        h2 {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 15px;
            color: $color-main;
            text-align: left;
            line-height: 50px;
            font-weight: 400;
            font-size: 44px;
            color: $secondary-color;
            p{
                width: 100%;
                padding-left: 30px;
                text-transform: capitalize;
            }
        }

        @media (max-width: 1024px) {
            width: 100%;

            h2 {
                text-align: center;
                font-size: 32px;
            }
        }
    }
}

.logo-big {
    width: 95%;
}

.customer-care-section {
    display: flex;
    .container {
        display: flex;
        width: 100%;
    }
}

.banner-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    color: #bdbec0;
    text-align: center;
    background-image: url('../assets/home-background.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    .home-banner {
        width: 100%;
    }
}