.navbar-container {
    position: relative;
}

.navbar {
    overflow: hidden;
    height: calc(100% - 50px);
    width: 85px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    top: 25px;
    border-radius: 14px;
    left: 20px;
    background: hsla(0, 0%, 12%, 0.5);
    backdrop-filter: blur(10px);
    padding-top: 30px;

    .logo-link {
        justify-self: flex-start;
    }

    .logo {
        width: 50px;
        margin-bottom: 20px;
        height: 50px;
    }

    .external-links {
        margin-bottom: 20px;
        display: flex;
        a {
            margin: 0px 8px;
            color: $color-main;
            transition: color 0.4s;
            &:hover {
                color: $accent-color;
            }
        }
        .link {
            width: 100%;
        }
    }

    .menu-items {
        overflow: hidden;
        overflow-y: hidden;
        padding: 20px 0px;
        width: 100%;
        height: 90%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;

        &::-webkit-scrollbar {
            display: none;
        }
        li {
            position: relative;
            width: 100%;
            text-decoration: none;
            color: #bdbec0;
            transition: width 0.3s;
            display: flex;
            justify-content: center;

            .navigation-link {
                display: flex;
                justify-content: center;
                position: relative;
                flex-direction: column;
                width: 100%;
                margin: 16px 0px;
                border-radius: 12px;
                cursor: pointer;
                color: $color-main;
                transition: all 0.3s;
                text-transform: uppercase;

                .nav-icon-container {
                    padding: 2px 0px 2px 0px;
                    transition: all 0.3s;
                    width: 100%;
                    background-color: #bdbec000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    color: $color-main;
                }
                .nav-icon {
                    fill: $color-main;
                    stroke: $color-main;
                }

                &:hover {
                    color: $accent-color;

                    .tooltiptext {
                        background-color: $accent-color;
                        border-bottom: 1px solid #231f1e;
                        visibility: visible;
                        opacity: 1;
                    }
                    .nav-icon {
                        fill: $accent-color;
                        stroke: $accent-color;
                    }
                }
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
            .tooltiptext {
                font-size: 13px;
                width: 100%;
                background-color: #231f1e00;
                font-weight: bold;
                text-transform: uppercase;
                color: $color-main;
                border-bottom: 1px solid #bdbec0;
                border-radius: 2px;
                text-align: center;
                z-index: 10;
                opacity: 1;
                padding: 2px 0px;
                transition: all 0.3s;
            }
        }
        .navigation-link {
            &.active {
                width: calc(100% + 20px);
                color: $accent-color;
                .tooltiptext {
                    background-color: rgb(111, 0, 0);
                    color: $color-main;
                    border-bottom: 1px solid #231f1e;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
.hamburger-btn {
    display: none;
}

@media only screen and (max-width: 1024px) {
    body:has(.menu-items.opened) {
        position: fixed;
        overflow: hidden;
    }

    .section-navigation {
        position: fixed;
        z-index: 5;
        width: 100%;
        top: 0;

        .navbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            position: relative;
            flex-wrap: wrap;
            top: 0;
            left: 0;
            border-radius: 0;
            padding-top: 0;

            .logo-link {
                width: 50%;
                padding: 20px 20px;
                img {
                    margin-bottom: 0;
                }
            }

            .external-links {
                align-items: center;
                margin-bottom: 0;
                gap: 16px;
            }

            .link {
                margin: 0;
            }

            .hamburger-btn {
                display: block;
                padding: 10px;
                top: 20px;
                z-index: 3;
                width: 30px;
                height: 20px;
                cursor: pointer;
                outline: none;
                border: none;
                background-color: transparent;
                position: relative;
                transform: translateY(-100%);
                margin-right: 10px;
                &::before,
                &::after,
                span {
                    position: absolute;
                    content: "";
                    display: block;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #ffffff;
                    opacity: 1;
                    transition: all 0.3s;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }

                &.opened {
                    span {
                        display: none;
                    }

                    &::after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }

                    &::before {
                        top: 9px;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .menu-items {
            padding: 0px 0px;
            display: block;
            max-height: 0;
            height: 0;
            transform: none;
            transition: all 0.3s;
            order: 2;
            margin-bottom: 0;
            li {
                padding: 10px 0px;

                &:after {
                    display: none;
                }
            }

            &.opened {
                visibility: visible;
                padding-top: 0px;
                transform: none;
                margin-top: 10px;
                max-height: calc(100vh - 73px);
                height: 100vh;
                overflow: auto;
            }

            .navigation-link {
                
                .tooltiptext {
                    font-size: 18px;
                    border: none;
                }   
            }
        }
    }
}
