/* 	Standard CSS Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    position: relative;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

body,
html {
    height: 100%;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    outline: none;
}

h3 {
    font-size: 34px;
}

h4 {
    font-weight: lighter;
    font-size: 24px;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
